* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #eef2ff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    width: 650px;
    background: #fff;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.result {
    flex: 1;
    padding: 40px;
    text-align: center;
    background: linear-gradient(180deg, #6a5cff, #3b2fe3);
    color: white;
}

.score-circle {
    width: 150px;
    height: 150px;
    margin: 30px auto;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.score-circle h1 {
    font-size: 48px;
    font-weight: bold;
}

.score-circle p {
    font-size: 18px;
}
.summary {
    flex: 1;
    padding: 35px;
}
.summary h3{
    margin-bottom: 15px;
}
.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 16px;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 15px;
}

.sub-item{
    display: flex;
    align-items: center;
    gap: 10px;
}

.reaction {
    background: #fff6f5;
}
.reaction span {
    color: #ff5757;
}

.memory {
    background: #fffaf5;
}
.memory span {
    color: #ffb800;
}


.verbal {
    background: #fafffb;
}
.verbal span {
    color: #00bb8f;
}

.visual {
    background: #f5f6ff;
}
.visual span {
    color: #1125d6;
}

.cta {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 25px;
    background: #303b5aff;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.cta:hover {
    background: linear-gradient(180deg, #3b2fe3, #6a5cff);
}